[submodule "lib/node-session-client"]
	path = lib/node-session-client
	url = https://github.com/hesiod-project/node-session-client.git
[submodule "lib/react-orbitdb"]
	path = lib/react-orbitdb
	url = https://github.com/revolunet/react-orbitdb
